@import "tailwindcss";

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #020617;
  color: rgb(241 245 249);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

